* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: #f3f3f3;
}
a {
    text-decoration: none;
}
.container {
    width: 90%;
    max-width: 800px;
    margin: auto;
}

/* header here */

header {
    padding: 40px 0;
}
header .logo {
    text-align: center;
    margin-bottom: 40px;
}
header .logo p {
    color: #9b9b9b;
}
header form {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
header .search-bar {
    width: 70%;
    height: 40px;
    line-height: 40px;
    background: white;
    padding: 0 20px;
    border-radius: 100px;
    border: none;
    text-align: center;
    font-size: 16px;
}
header .category {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
header .category a {
    color: #9b9b9b;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 700;
}
header .category a.active {
    color: #000;
}
/* grid */
.grid {
    position: relative;
    width: 100%;
    /*  */
    /*  */
}
.grid .item {
    position: absolute;
    display: block;
    padding: 0;
    margin: 10px;
    width: 33.33%;
}
.grid .item img {
    width: 100%;
}